/* Amis.css */
.new-media {
    background-color: #ffeb3b; /* Couleur jaune claire pour les médias non vus */
    color: #ffcc00;
}


.media-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.media-overlay img {
    max-width: 90%;
    max-height: 80%;
}

.media-overlay .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ffcc00;
    position: absolute;
    top: 0;
}
